/*
*, *::before, *::after {
  box-sizing: border-box;
}
*/
/* <header>
      <nav>
        <aside class="legacy">
.legacy {
  box-sizing: content-box;
}
*/
/* REMOVE DEFAULT MARGIN
* {
  margin: 0;
}
*/
/* body {
  -webkit-font-smoothing: antialiased;
}
*/
/* SENSIBLE MEDIA DEFAULTS
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
*/
/* Inherit fonts for form controls
input,
button,
textarea,
select {
  font: inherit;
}
*/
/* WORD WRAPPING
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}
*/
/* ROOT STACKING CONTEXT
#root,
#__next {
  isolation: isolate;
} for example,
create-react-app uses a <div id="root">,
so the correct selector is #root.
*/


/*
*{
  margin: 0px;
  padding: 0px;
}
*/

.attribution {
  font-size: 11px;
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: 400;
}

.container-main {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-items: center;
  justify-content: center;
  
}

.container-1 {
  border: 1px;
  padding: 70px;
  background-color: hsl(31, 77%, 52%);
}

.container-2 {
  border: 1px;
  padding: 70px;
  background-color: hsl(184, 100%, 22%);
}

.container-3 {
  border: 1px;
  padding: 70px;
  background-color: cyan;
}

.button-1 {
  border: 0;
  line-height: 1;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);

}



.button-2 {
  border: 0;
  line-height: 1;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button-3 {
  border: 0;
  line-height: 1;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  
}

.button-1:hover {
  background-color: aquamarine;
}
.button-1:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);

}
.button-2:hover {
  background-color: aquamarine;
}

.button-2:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);

}
.button-3:hover {
  background-color: aquamarine;
}
.button-3:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);

}






header {
  font-size: xx-large;
  color: cornsilk;
}

p {
  color: cornsilk;
  font-size: 15px;
  
}





